.movie {
    background: antiquewhite;
    border: 1px solid #cdcdcd;
    border-radius: 2x;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

.title{
    font-weight: bold;
    font-size: 30px;
}

.align-center{
    justify-content: center;
}

.overview{
    padding-top: 50px;
    font-size: 20px;
}

.rating{
    font-size: 25px;
    font-weight: bold;
}